:root {
  --nav-font-size: 1.5rem;
}

@media (max-width: 768px) {
  :root {
    --nav-font-size: 1.125rem;
  }
}

header {
  width: 100%;
}

nav {
  top: 0;
  width: 100%;
  padding: 0.5rem;

  background-color: #009879;
  
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: #ffffff;
  font-size: var(--nav-font-size);
}

nav a:visited {
  color: #ffffff;
  font-size: var(--nav-font-size);
}
